@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #894bca;
    height: 100vh;

    background-size: cover;
}

.foundations-card {
    height: 100px;
    text-align: left;
    background-color: white;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.title1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    color: #f780c3;
}

.image1 {
    height: 100px;
    width: 100px;
    margin: 100px;
}

.heading1 {
    color: white;
    font-style: Bree Serif;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    text-align: center;

}

.card2 {}

.heading2 {
    font-family: Bree Serif;
    font-size: 15px;
    color: #f780c3;
    padding: 10px;
    margin: 10px;
}

.image-amazon {
    height: 50px;
    width: 50px;
}

.heading3 {
    font-family: Bree Serif;
    font-size: 15px;
    color: #323f4b;
    padding: 4px;
    margin: 4px;

}

.para1 {
    font-family: Bree Serif;
    font-size: 15px;
    color: #7b8794;
    padding: 4px;
    margin: 4px;


}